* {
    background-color: paleturquoise;
}

h1 {
    text-align: center;
}


.directions {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    background-color: turquoise;
    border-radius: 25px;
    margin-bottom: 10px;
}

h2,p {
    background-color: turquoise;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: turquoise;
    border-radius: 25px;
    margin-bottom: 10px;
}