* {
    background-color: paleturquoise;
}

h1 {
    text-align: center;
    font-size: 60px;
}


.directions {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    background-color: turquoise;
    border-radius: 25px;
    margin-bottom: 10px;
}

h3,h2,p,strong {
    background-color: turquoise;
}

.btns,#scores {
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: turquoise;
    border-radius: 25px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.btn{
    font-size: 50px;
    font-family: Snell Roundhand, cursive;
    padding: 20px;
    border-radius: 20px;
    color: rgb(197, 187, 70);
}

#rock {
    background-color: gray;
}

#paper {
    background-color: snow;
}

#scissors {
    background-color: palevioletred;
}

.game {
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: turquoise;
    border-radius: 20px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.results {
    padding: 25px;
    background-color: turquoise;
    margin-bottom: 10px;
    font-family: Snell Roundhand, cursive;
    font-size: 30px;
}

h1,h2,h3,h4 {
    font-family: cursive;
}

h2,h3 {
    font-size: 40px;
    margin-bottom: 2px;
}

p{
    margin-top: 2px;
}

h4 {
    font-size: 40px;
    background-color: turquoise;
    margin-top: 10px;
    margin-bottom: 10px;
}

#modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
}